* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
body {
  background-color: rgb(231, 231, 231);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 1%;

}

nav ul a {
  flex: auto;
  padding: 10px;
  background-color: rgb(170, 170, 170);
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

nav ul a:hover {
  background-color: rgb(48, 47, 48);
  color: red;
  border: 1px solid rgb(0, 0, 0);
}

p {
  padding: 60px;
  font-size: 30px;
  text-align: center;
  color: rgb(218, 218, 218);
}

#inicio {
  background-color: rgb(28, 27, 27);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

#inicio:hover {
  background-color: rgb(124, 13, 13);
  color: rgb(43, 0, 136);
  border: 1px solid red;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  color: rgb(255, 254, 254);
}
div {
  background-color: rgb(48, 47, 48);
  margin: 1%;
  border-radius: 10px;
}
#Cuerpo {
  flex: auto;
  padding: 10px;
  height: 675px;
}
#Horario{
  flex: auto;
  padding: 10px;
  height: 800px;
}
#fotoHora{
  padding-top: 5%;
}

h3 {
  text-align: center;
  padding: 20px;
  font-size: 60px;
  color: rgb(218, 218, 218);
}